.cadastroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 80px 0;
}
.cadastroFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  gap: 12px;
}
.mensagemErro {
  color: red;
  font-size: 12px;
}
