.botao {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #926cfa;
  border-radius: 8px;
  border: none;

  width: 350px;
  max-width: 80%;
  height: 46px;
  cursor: pointer;
}

.botao:hover {
  background-color: #7b54d9;
}
