.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.bannerTitulo,
.bannerSubtitulo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 140%;
}

.bannerTitulo {
  font-size: 32px;
  color: #4a4949;
  text-align: center;
}

.bannerSubtitulo {
  font-size: 14px;
  color: #6c7278;
  letter-spacing: -0.01em;
}
