.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-family: var(--primary-font);
  color: #4a4949;
  text-align: center;
}

.bannerTitulo {
  font-size: clamp(26px, 1vw, 32px);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.bannerSubtitulo {
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
}

.bannerSubtitulo a {
  font-weight: 700;
  color: var(--color-purple);
  cursor: pointer;
}
