/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  padding: 22px;
  background-color: var(--purple-color);
  position: relative;
  font-family: var(--primary-font)
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  z-index: 30;
}

.logo img {
  height: auto;
  width: 80px;
}

/* Menu button (mobile) */
.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 30;
}

/* Navigation list */
.navList {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 200px;
  height: 100dvh;
  padding-top: 5rem;
  background-color: var(--background-color);
  box-shadow: 0 0 1rem hsl(from var(--shadow-color) h s l / 50%);
  z-index: 20;
}

.navList.active {
  display: flex;
  flex-direction: column;
}

/* Navigation items */
.navItem {
  list-style: none;
}

.navItem:hover {
  background-color: hsl(from var(--highlight-color) h s l / 60%);
}

/* Navigation links */
.navLink {
  display: block;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  .menuBtn {
    display: none;
  }

  .navList {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .navLink {
    color: white;
    padding: 0.5rem 1rem;
  }
}
