/*Container Principal (o que ocupa todo o tamanho da página)*/
.loginPageContainer {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Container de Conteúdo*/
.loginPageContent {
  max-width: 90%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.logoContainer img {
  width: 90px;
}

/*Main*/
.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.message p {
  color: red;
  font-size: clamp(12px, 1.2vw, 14px);
}

.message a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: clamp(12px, 1.2vw, 14px);
  line-height: 140%;
  letter-spacing: -0.01em;

  text-decoration: underline;
  text-underline-offset: 2px;

  cursor: pointer;
}
