:root {
  --purple-color: rgba(148, 109, 247, 1);
  --white-color: rgba(255, 255, 255, 1);
  --gray-color: rgba(78, 78, 79, 1);
  --primary-color: rgb(0, 82, 114);
  --highlight-color: rgb(10, 128, 175);
  --background-color: white;
  --shadow-color: darkgray;

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
  --color-purple: rgba(123, 84, 217, 1);
}
