.selectGenero {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  background-color: transparent;
  padding: 12px 19px;
  width: 90%;
  height: 46px;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4a4949;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('data:image/svg+xml;utf8,<svg fill="%234a4949" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 17px center;
  background-size: 24px;
  cursor: pointer;
}

.selectGenero:focus {
  border: 2px solid #926cfa;
  outline: none;
}
